<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/top.ejs %>

    <div class="container">
      <h2>Rooms</h2>

      <h4>
        <a href="/roomAddPage">
          <u>Add a room</u>
        </a>
      </h4>

      <h4>
        <a href="/roomDeletePage">
          <u>Delete a room</u>
        </a>
      </h4>

      <div>
        <% rooms.forEach(function(r) { %>
          <h3>
            <%= r.name %>
          </h3>
          <% if(r.teamId !== null) { %>
            <div>Current record:
              <%= r.time %>
                <br /> Held by:
                <%= teams.find(team => team.id === r.teamId).name %>
                  <br />
                  <% } %>
                    Room ID:
                    <%= r.id %>
            </div>

            <div class="edit-link">
              <a id="edit" href="/roomEditPage?id=<%- r.id %>">Edit</a>
            </div>

            <% }); %>
      </div>

      <hr style="border-top: 3px solid black">

      <h2>Teams</h2>

      <h4>
        <a href="/teamDeletePage">
          <u>Delete a team</u>
        </a>
      </h4>

      <div>
        <% teams.forEach(function(t) { %>
          <h3>
            <%= t.name %>
          </h3>

          <div>
            Score
            <%= t.score %>
              <br />Team ID:
              <%= t.id %>
          </div>

          <div class="edit-link">
            <a id="edit" href="/teamEditPage?id=<%- t.id %>">Edit</a>
          </div>

          <% }); %>
      </div>

    </div>

    <% include ../partials/footer.ejs %>

</body>

</html>