<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/top.ejs %>

    <div class="container">
      <h2>Rooms</h2>

      <h4>
        <a href="/addRoom">
          <u>Add a room</u>
        </a>
      </h4>

      <div>
        <% rooms.forEach(function(r) { %>
          <h3>
            <%= r.roomName %>
          </h3>

          <div>Current record:
            <%= r.time %>
              <br /> Held by:
							<%= teams.find(team => team.id === r.team).name %>
                <br />ID:
                <%= r.id %>
          </div>

          <div class="edit-link">
            <a id="edit" href="/roomEdit?id=<%- r.id %>">Edit</a>
          </div>

          <% }); %>
      </div>

      <hr style="border-top: 3px solid black">

      <h2>Teams</h2>

      <div>
        <% teams.forEach(function(r) { %>
          <h3>
            <%= r.name %>
          </h3>

          <div>
            Current records held:
            <%= r.records %>
              <br />ID:
              <%= r.id %>
          </div>

          <div class="edit-link">
            <a id="edit" href="/teamEdit?id=<%- r.id %>">Edit</a>
          </div>

          <% }); %>
      </div>

    </div>

    <% include ../partials/footer.ejs %>

</body>

</html>