<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/top.ejs %>

        <div class="alert alert-info text-center" role="alert">
            Monopoly!
        </div>

        <div class="container">
            <h2>Rooms</h2>

            <ul>
                <% rooms.forEach(function(r) { %>
                    <h3>
                        <%= r.roomName %>
                    </h3>
                    <div>
                        Current record:
                        <%= r.time %>
                            <br /> Held by:
                            <%= r.name %>
                    </div>
                    <% }); %>
            </ul>

            <h2>Teams</h2>

            <ul>
                <% teams.forEach(function(r) { %>
                    <h3>
                        <%= r.name %>
                    </h3>
                    <div>
                        Current records held:
                        <%= r.records %>
                    </div>
                    <% }); %>
            </ul>

        </div>

</body>

</html>