<!DOCTYPE html>
<html>

<head>
	<% include ../partials/header.ejs %>

		<style>
			.roomContainer {
				position: relative;
				float: left;
				left: 80px;
			}

			.teamContainer {
				position: relative;
				float: right;
				right: 80px;
			}

			h2 {
				text-align: center;
				text-decoration-line: underline;
			}
		</style>
</head>

<body>
	<% include ../partials/top.ejs %>

		<div class="roomContainer">
			<h2>Rooms</h2>

			<ul>
				<% rooms.forEach(function(r) { %>
					<h3>
						<%= r.name %>
					</h3>
					<div>
						Current record:
						<%= r.time %>
							<br /> Held by:
							<% if(r.teamId) { %>
								<%= teams.find(team => team.id === r.teamId).name %>
									<% } %>
					</div>
					<% }); %>
			</ul>
		</div>

		<div class="teamContainer">

			<h2>Teams</h2>

			<ul>
				<% teams.forEach(function(t) { %>
					<h3>
						<%= t.name %>
					</h3>
					<div>
						Score:
						<%= t.score %>
					</div>
					<% }); %>
			</ul>

		</div>

</body>

</html>