<!DOCTYPE html>
<html>

<head>
	<% include ../partials/header.ejs %>
</head>

<body>
	<% include ../partials/top.ejs %>

		<div class="alert alert-info text-center" role="alert">
			Monopoly!
		</div>

		<div class="container">
			<h2>Rooms</h2>

			<ul>
				<% rooms.forEach(function(r) { %>
					<h3>
						<%= r.name %>
					</h3>
					<% if(r.teamId !== 0) { %>
						<div>
							Current record:
							<%= r.time %>
								<br /> Held by:
								<%= teams.find(team => team.id === r.teamId).name %>
						</div>
						<% }}); %>
			</ul>

			<h2>Teams</h2>

			<ul>
				<% teams.forEach(function(t) { %>
					<h3>
						<%= t.name %>
					</h3>
					<div>
						Score:
						<%= t.score %>
					</div>
					<% }); %>
			</ul>

		</div>

</body>

</html>