<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/top.ejs %>

    <div class="room-edit">
      <h3>
        Room Name:
      </h3>
      <input id="edit-room-name" value='<%- room.roomName %>' />

      <div>
        <br /> Current record:
        <input id="edit-room-time" value='<%- room.time %>' />
        <br />Held by:


        <select id="edit-room-team">
          <option value="<%- room.name %>">
            <%= room.name %>
          </option>
          <% teams.forEach(function(t) { %>
            <option value="<%- t.name %>">
              <%= t.name %>
            </option>
            <% }); %>
        </select>

        <br /> ID:
        <div id="room-id">
          <%= room.id %>
        </div>
      </div>

      <button id="room-save">Save</button>

    </div>

    <% include ../partials/footer.ejs %>
</body>

</html>