<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/adminTop.ejs %>

    <form class="room-edit" method="post">
      <h3>
        Room Name:
      </h3>
      <input value="<%- room.name %>" name="name" />

      <br /> Current record:
      <input value='<%- room.time %>' name="time" />
      <br />Held by:

      <select name="teamName">
        <% var teamName = teams.find(team => team.id === room.teamId).name %>
          <% teams.forEach(function(t) { %>
            <% if (teamName !== t.name) {%>
              <option value="<%- t.name %>">
                <%= t.name %>
              </option>
              <% } else { %>
                <option value="<%- t.name %>" selected>
                  <%= t.name %>
                </option>
                <% }}); %>

      </select>

      <input class="do-not-show" value="<%- room.id %>" name="id" />

      <button type="submit">Save</button>

    </form>

</body>

</html>