<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/top.ejs %>

    <div class="room-edit">
      <h3>
        Room Name:
      </h3>
      <input id="edit-room-name" value='<%- room.roomName %>' />

      <div>
        <br /> Current record:
        <input id="edit-room-time" value='<%- room.time %>' />
        <br />Held by:

        <select id="edit-room-team">
          <option value="<%- teams.find(team => team.id === room.team).name %>">
            <% var ttt = teams.find(team => team.id === room.team).name %>
              <%= ttt %>
          </option>
          <% teams.forEach(function(t) { %>
            <% if (ttt !== t.name) {%>
              <option value="<%- t.name %>">
                <%= t.name %>
              </option>
              <% }}); %>
        </select>

        <br /> ID:
        <div style="display:inline;" id="room-id">
          <%= room.id %>
        </div>
      </div>

      <button id="room-save">Save</button>

    </div>

    <% include ../partials/footer.ejs %>
</body>

</html>